// Color
$color-primary: #ff6600;
$color-secondary: #ffc600;

$color-orange-1: rgba(236, 98, 6, 0.98);

$color-black: #000;
$color-black-1: rgba(5, 3, 0, 0.2);
$color-black-2: rgba(5, 3, 0, 0.83);
$color-black-3: #232121;

$color-grey-1:#161c2db3;  // color text p
$color-grey-2: #a5a2a1;
$color-grey-3: #ddd;
$color-grey-background:#f7f7f7;

$color-white: #fff;
$color-white-2: #eee;
$color-border-light:#eee;

// Font
$font-color: rgba(22, 28, 45, 0.702);
$font-color-white: #ffdfc9;
$font-dark: #c2d0da;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

//Background color
$bg-linear: linear-gradient(to right, $color-primary, $color-black-1);

$bg-linear-1: linear-gradient(to right, $color-orange-1, $color-black-2);

$bg-grey: #f7f7f7;

$bg-light: rgba(130, 115, 252, 0.05);

$bg-icon-hover: rgba(157, 157, 157, 0.5);

$bg-dark: #232220;

$bg-dark-grey: #282828;

//border-radius
$border-radius:6px;
