.footer {
  background-color: $color-black;
  @include bg-img(cover, no-repeat, center center);
  .footer__cover {
    padding: 3rem 0 1.2rem 0;
    .container {
      // max-width: 1200px;
      @include desktop-xxl {
        max-width: 1200px;
      }
      @include desktop-xl {
        // max-width: 960px;
        .footer__c1 {
          .footer__social {
            text-align: center;
          }
        }
      }
      @include tablet-lg {
        //  max-width: 720px;
        .footer__c3 {
          margin-top: 1.875rem;
        }
      }
      @include mobile-md {
        //  max-width: 540px;
      }
      @include mobile-sm {
        width: 100%;
        padding: 0 0.9375rem;
        margin: 0 auto;
      }
      .footer__row {
        margin: 0 -0.9375rem;
        .footer__c1 {
          padding-right: 1.875rem;
          .footer__c1-title {
            @include Text(1.875rem, $fw-600, $color-white);
            padding: 0;
            text-transform: capitalize;
            text-decoration: none;
          }
          p {
            @include Text(17px, $fw-400, $color-grey-2);
            line-height: 26px;
            margin: 0;
          }
          .footer__social {
            a {
              @include btn(none, 6px, $color-white, 0, 0);
              @include avt(36px, 36px, 6px, inline-block);
              line-height: 36px;
              color: $color-primary;
              text-align: center;
              font-size: 1rem;
              transition: all 0.3s;
              margin-right: 10px;
              &:hover {
                color: $color-white;
                background-color: $color-primary !important;
              }
              .fab {
                line-height: 36px;
              }
            }
          }
        }
        .footer__c2 {
          ul {
            list-style: none;
            .footer__title {
              @include Text(22px, $fw-700, $color-white);
              line-height: 28px;
              margin-bottom: 1.875rem;
              position: relative;
            }
            li {
              margin-bottom: 0.625rem;
              a {
                text-decoration: none;
                @include Text(17px, $fw-400, $color-grey-2);
                transition: all 0.3s;
                line-height: 26px;
                &:hover {
                  color: $color-primary;
                }
              }
            }
          }
        }
        .footer__c3 {
          .footer__title {
            @include Text(22px, $fw-700, $color-white);
            line-height: 28px;
            margin-bottom: 1.875rem;
            position: relative;
          }
          p {
            @include Text(17px, $fw-400, $color-grey-2);
            line-height: 26px;
          }
          .footer__form {
            position: relative;
            input {
              @include btn(1px solid transparent, 6px, $color-white, 0.875rem, 1.25rem);
              @include Text(18px, $fw-400, $color-grey-2);
              line-height: 28px;
              outline: none;
              width: 100%;
            }
            .btn-1 {
              @include btn(2px solid transparent, 6px, $color-primary, 0.75rem, 2.8125rem);
              // opacity: 0.8;
              @include Text(16px, $fw-700, $color-white);
              line-height: 30px;
              transition: all 0.3s ease-in;
              &:hover {
                background-color: $color-primary;
                border: 2px solid $color-primary;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
  .footer__copyright {
    padding-top: 4rem;
    .container {
      // max-width: 1200px;
      @include desktop-xxl {
        max-width: 1200px;
      }
      @include desktop-xl {
        // max-width: 960px;
        .copy-right {
          text-align: center;
          justify-content: center !important;
          a {
            margin: 0 0.625rem;
          }
        }
      }
      @include tablet-lg {
        //  max-width: 720px;
        p.copy-left {
          text-align: center;
        }
      }
      @include mobile-md {
        // max-width: 540px;
      }
      @include mobile-sm {
        width: 100%;
        padding: 0 0.9375rem;
        margin: 0 auto;
      }
      .bottom__copies {
        margin: 0 -0.9375rem;
        p.copy-left {
          @include Text(17px, $fw-400, $color-grey-3);

          a {
            text-decoration: none;
            color: $color-primary;
          }
        }
        .copy-right {
          display: flex;
          justify-content: space-around;
          a {
            text-decoration: none;
            line-height: 26px;
            @include Text(17px, $fw-400, $color-grey-2);
            transition: all 0.3s;
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
