.banner-home {
  background-image: $bg-linear, url(../../img/banner1.jpg);
  @include bg-img(cover, no-repeat, initial);
  background-attachment: fixed;
  min-height: 700px;
  .header {
    padding: 2.5rem 0 1.25rem 0;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__left {
        .navbar-brand {
          @include Text(2.25rem, $fw-700, $color-white);
          text-decoration: none;
        }
      }
      &__right {
        &--search {
          position: relative;
          .search__input {
            padding: 0.625rem 3.125rem 0.625rem 1.25rem;
            @include Text(1rem, $fw-400, $font-color);
            border-radius: 6px;
            ::-webkit-input-placeholder {
              color: $color-primary;
            }
          }
          a {
            text-decoration: none;
            list-style: none;
            color: $font-color;
            .search__icon {
              font-size: 0.9375rem;
              position: absolute;
              top: 50%;
              right: 0.9375rem;
              transform: translate(-50%, -50%);
            }
          }

          @include mobile-sm {
            display: none;
          }
        }
        &--darkmode {
          display: block;
          padding: 0 1.25rem;
          @include Text(1.5625rem, "", $color-white);
        }
        &--menubar {
          cursor: pointer;
          @include Text(1.875rem, "", $color-white);
        }
      }
    }
  }

  // banner-info
  .banner__info {
    margin-top: 6.25rem;
    max-width: 600px;
    text-align: left;

    &--caption {
      margin-bottom: 1.5rem;
    }

    &--desc {
      padding-right: 3rem;

      @include mobile-md {
        padding-right: 0;
      }
    }

    &--button {
      margin-top: 3rem;
      .btn-banner {
        transition: all 0.5s;

        i {
          margin-left: 0.625rem;
        }

        &:hover {
          background-color: #fff;
          color: $color-primary;
        }
      }

      @include mobile-sm {
        margin-top: 1.5rem;
      }
    }

    @include mobile-sm {
      margin-top: 1.25rem;
    }
  }

  @include mobile-md {
    min-height: 600px;
  }
  @include mobile-sm {
    min-height: 450px;
  }
}

// banner-darkmode
.banner-home-darkmode {
  .header {
    .navbar {
      .navbar__right {
        .navbar__right--search {
          .search__input {
            background-color: $bg-dark !important;
          }
          .form-control {
            border: 1px solid $bg-dark !important;
            &:focus {
              color: $font-dark;
              border-color: $bg-dark !important;
              outline: none;
              box-shadow: none !important;
            }
          }
          a {
            color: $font-dark;
          }
        }
      }
    }
  }
}

// Form
.form-control {
  border: 1px solid #fff !important;

  &:focus {
    color: #212529;
    border-color: #fff !important;
    outline: none;
    box-shadow: none !important;
  }
}
