.menubar__right {
  position: fixed;
  height: 100%;
  z-index: 7777;
  right: 0;
  top: 3.75rem;
  transition: all 0.5s;

  .menubar--list {
    padding: 1.25rem 0.3rem 2.5rem 0.3rem;
    background: #0d1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    width: 5.6rem;

    .pull-right {
      text-align: center;
      span {
        a {
          display: inline-block;
          border-bottom: 1px solid #41414d;
          width: 100%;
          color: #e6ebff;
          opacity: 0.6;
          i {
            padding-bottom: 1.56rem;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .menu--item {
      text-align: center;
      a {
        opacity: 0.6;
        display: block;
        margin: 1.56rem 0;
        color: #e6ebff;
        font-size: 1rem;
        text-decoration: none;

        span {
          display: block;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
